.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.edit{
   
    background: rgb(47, 228, 44);
    color: white;
    padding: 16px;
}
.back{
   
    background: rgb(9, 66, 113);
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-left: 12px;
}
.btn{
    margin-top: 22px;
}
